@charset "utf-8";
/* CSS Document */

*{font-size:12px}
body{font-family:Arial, Helvetica, sans-serif;font-size:12px;margin:0;padding:0;background:#f2f2f2}
div{overflow:hidden;margin:0 auto;}
img{border:none;}
a{color:#0064c8;cursor:pointer;text-decoration:none}
a:hover{color:#F60}
ul{padding:0;margin:0;}
ul li{list-style:none}
table.contentTable{margin:0 auto;border-collapse:collapse;table-layout: fixed;}
table.contentTable tr td{overflow:hidden;white-space:nowrap;text-overflow:ellipsis;-o-text-overflow: ellipsis;border:1px solid #CCC;text-align:center;}
table.contentTable tr th{border:1px solid #CCC;background:#000;color:#FFF}
table.contentTable tr.hover:hover,table.contentTable tr:hover{background:#FFFFCC}
table.contentTable tr td:hover{background:#ffff33}
table.contentTable tr.bold{font-weight:bold;}
table.contentTable tr td.TDL{text-align:left;}
/*隔行变色*/
table.contentTable tr.hover{background:#efefef}
/*
table.contentTable tr.bold{background:#000;color:#FFF}
table.contentTable tr.bold a{color:#FFF;text-decoration:underline}
色*/
table.contentTable tr.selected{background:#CCC}

.main{width:1300px;overflow:visible}
.header{height:70px;width:100%;}
.headerLeft{float:left;padding:10px 0px;width:40%;}
.headerRight{float:right;width:59%;padding-top:15px;}
.info{height:28px;width:auto;position:relative;float:right}
.infoLeft{width:5px;height:28px;background:url(../images/info_left.png) no-repeat;position:absolute;left:0;top:0;}
.infoCenter{width:auto;height:28px;line-height:26px;background:url(../images/info_bg.png) repeat-x;margin:0px 5px;overflow:visible}
.infoRight{width:5px;height:28px;background:url(../images/info_right.png) no-repeat;position:absolute;right:0;top:0;}
.infoCenter ul{float:right}
.infoCenter ul li{width:auto;padding:0px 5px;float:left;display:block;font-weight:bold;}
.infoCenter ul li.line{width:2px;height:28px;background:url(../images/info_line.png) no-repeat center;}

.menu{width:100%;height:36px;position:relative;}
.menuLeft{width:5px;height:36px;background:url(../images/top_left.png) no-repeat;position:absolute;left:0;top:0;}
.menuCenter{width:auto;height:36px;line-height:36px;margin:0 5px;padding:0px 5px;background:url(../images/top_bg.png) repeat-x;color:#FFF;font-weight:bold}
.menuCenterLeft{float:left}
.menuCenterLeft ul{position:absolute;left:0px;}
.menuCenterLeft ul li{float:left;display:block;height:36px;width:139px;text-align:center;}
.menuCenterLeft ul li.menuLine{background:url(../images/top_line.png);width:13px;overflow:visible;margin:0 -6px;}
.menuCenterLeft ul li a{color:#dfdfdf;padding:0px 11px;display:block}
.menuCenterLeft ul li a:hover{color:#FFF}
.menuCenterLeft ul li.hover{background:url(../images/hover.png) repeat-x;}
.menuCenterLeft ul li.hover a:hover{color:#FFF}
.menuCenterLeft ul li.hover a{color:#FFF;}
.menuCenterRight{float:right;}
.menuCenterRight ul li{float:left;margin:0 10px;}
.menuRight{width:5px;height:36px;background:url(../images/top_right.png) no-repeat;position:absolute;right:0;top:0;}

.content{width:100%;overflow:visible}
.contentBox{box-shadow:0px 4px 5px #ccc;behavior:url(ie-css3.htc);border:1px solid #CCC;border-radius:5px;border-color:#CCC;width:auto;background:#FFF;margin:5px 0px;padding:0px 12px 12px;}
.contentBox .title{width:auto;border-bottom:1px solid #CCC;height:28px;line-height:28px;margin-bottom:2px;font-weight:bold;font-size:14px;}

.footer{hieght:18px;line-height:18px;text-align:center}

.floatTableBox{overflow:hidden;overflow-y:auto;max-height:225px}
.floatImgBox{width:100%;height:300px;background:#CCC}
.floatFilter{height:30px;padding-top:6px}
.floatFilter ul li{float:left;margin-right:12px;display:block}
.floatFilter ul li select{width:120px;}
.floatFilter .button{margin-top:-6px}

.button{width:80px;height:25px;line-height:25px;display:inline-block;background:url(../images/button_left.png) no-repeat left;}
.buttonRight{width:auto;margin-left:5px;display:block;background:url(../images/button_right.png) no-repeat right;text-align:center;padding-right:5px}
.button:hover{background:url(../images/button_hover_left.png) no-repeat left;}
.button:hover .buttonRight{background:url(../images/button_hover_right.png) no-repeat right;}
.buttonRight:hover{background:url(../images/button_hover_right.png) no-repeat right;}

.submitResponse,.submitWarning{margin:12px}
.submitResponse table,.submitWarning table{width:100%;}
.submitResponse table input[type=text],.submitWarning table input[type=text]{width:370px;}
.submitResponse table .button,.submitWarning table .button{width:60px;text-align:center}
.submitResponse table textarea,.submitWarning table textarea{width:370px;height:80px}

.submitWarningChange{width:300px}
.submitWarningChange table td{padding:5px}

.selectInputBox{position:relative;width:376px;height:20px;float:left;}
.selectInputBox select{width:100%;position:absolute;z-index:1;top:0;left:0;}
.submitWarning table td .selectInputBox input[type=text]{width:259px;border:none;z-index:2;position:absolute;background:#FFF;left:2px;top:1px;}
.submitWarning table td select{width:376px}