<?xml version="1.0" encoding="UTF-8" ?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:p="http://www.springframework.org/schema/p"
	xmlns:context="http://www.springframework.org/schema/context"
	xsi:schemaLocation="http://www.springframework.org/schema/beans
	http://www.springframework.org/schema/beans/spring-beans-3.2.xsd
	http://www.springframework.org/schema/context
	http://www.springframework.org/schema/context/spring-context-3.2.xsd">

	<context:component-scan base-package="cn.vobile.vns.consumer" />

	<bean id="sender" class="org.springframework.mail.javamail.JavaMailSenderImpl"
		p:host="mail.vobile.cn" p:username="wang_lin@vobile.cn" p:password="helloworld">
		<property name="javaMailProperties">
			<props>
				<prop key="mail.smtp.auth">true</prop>
			</props>
		</property>
	</bean>

	<bean id="notificationConsumer" 
		class="cn.vobile.vns.consumer.rabbitmq.NotificationConsumer">
		<constructor-arg index="0" value="192.168.1.17" />
		<constructor-arg index="1" value="vns_wl_exchange" />
		<constructor-arg index="2" value="mail" />
	</bean>

	<bean id="messageServiceImpl" 
		class="cn.vobile.vns.consumer.service.impl.MessageServiceImpl">
		<constructor-arg index="0" value="huang_panpan" />
		<constructor-arg index="1" value="77f781cf0d4edfd1f836" />
	</bean>
	
	<bean id="taskExecutor"
		class="org.springframework.scheduling.concurrent.ThreadPoolTaskExecutor"
		p:corePoolSize="10" p:maxPoolSize="30" />


</beans>