# 等号后面不能有空格!!!
opm_shell_database=192.168.1.17:3306/opm
opm_shell_database_user=root
opm_shell_database_pwd=root
cas_web_local_url=http://192.168.1.17:8080/opm_cas/
opm_shell_local_url=http://192.168.1.17:8080/opm_web_shell/

# 连接池配置
minPoolSize=0
maxPoolSize=15
initialPoolSize=0
maxIdleTime=30
acquireIncrement=0
maxStatements=0
idleConnectionTestPeriod=60
acquireRetryAttempts=30
breakAfterAcquireFailure=false
acquireRetryDelay=100
